<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Acerca de mi</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Soy ingeniero informático con
          mención en desarrollo de sistemas,
          orientado hacia los resultados y con
          excelentes dotes comunicativas,
          también cuento con conocimiento
          en sistemas digitales y procesos .</p>
      </div>
      <div class="col-lg-4">
        <p>Desarrollo de software básico
          Documentación de proyecto
          Análisis de modelos de negocio
          Resolución de problemas
          Control de calidad
          Pensamiento creativo
          Investigación y capacitación de
          usuarios</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a computer engineer with a specialization in systems development, focused on results, and with excellent
          communication skills. I also have knowledge in digital systems and processes.</p>
      </div>
      <div class="col-lg-4">
        <p>Software development
          Project documentation
          Business model analysis
          Problem-solving
          Quality control
          Creative thinking
          Research and user training</p>
      </div>
    </div>
  </div>
</section>